<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../public/images/css/styles.css" rel="stylesheet">
    <link href="./images/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mercado Liebre </title>
</head>



<header>

     <img id="baner" src="images/imagenes/img-home-banner.jpg" >
    
   
    <div class="main-header">

         <img class= "logoml" src="images/imagenes/logo-mercado-liebre.svg"  class="imagen-logo">
   
        <input type=“text” placeholder=“Search..“>
        <i class="fas fa-search"></i>
        <br>
        <br>
        <h2 id="compra"><i class="fas fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i></h2>
        </i>
        <br>
    </div>
    
    <nav class="main-navbar">
    <ul class="left-navbar">
        <li> <a href="ofertas">Ofertas</a> </li>
        <li> <a href="tiendasoficiales">Tiendas Oficiales </a> </li>
        <li><a href="vender">Vender</a> </li>
        <li> <a href="ayuda">Ayuda</a></li>
        <br>
    </ul>
    <ul class="right-navbar">
        <li><a href="register">Creá tu cuenta </a><i class="far fa-address-card"></i></li>
        <li><a href="login">Ingresá</a> <i class="fas fa-sign-out-alt"></i></li>
        <li><a href="miscompras">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
    </ul>    
    </nav>
    <div id="burger" class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>

</header>

<main>

<form action="/crear-producto" method="POST" class="createform">
    <div class="control-formulario">
        <label> Nombre del Producto</label>
        <input type="text"name="nombre" class="control">
    </div>    
    <div class="control-formulario">
        <label> Precio del Producto</label>
        <input type="text" nombre="precio" placeholder="123.45" class="control">
    </div>
    <div class="control-formulario">
        <label> Categoria </label>
        <select name="Categoria"class="control">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>
    <div class="control-formulario">
        <label> Ciudad</label>
        <select name="Categoria" class="control">
            <option value="ba">Buenos Aires</option>
            <option value="ro">Rosario</option>
            <option value="me">Mendoza</option>
        </select>
    </div>
    <div class="control-formulario">
        <label>Descripcion del Producto</label>
        <textarea name="descripcionDelProducto"  class="control">  </textarea>
    </div>
    <div class="control-formulario">   
        <label> Esta de Oferta?</label>
        <input type="radio" name="enOferta">
    </div>
   <button type="submit">Guardar</button>
   <button type="reset">Borrar</button>

</form>

</main>